<!doctype html>
<html>
  <head>
    <title>GIPHY Manager Login</title>
  </head>
  <body>
    <table align="center">
      <tr><th align="center" colspan="2">Login</th></tr>
      <tr>
        <form action="login" method="POST">
        <td align="right">Username:</td>
        <td align="left"><input type="text" id="username" name="username"/></td>
      </tr>
      <tr>
        <td align="right">Password:</td>
        <td align="left"><input type="password" id="password" name="password"/></td>
      </tr>
      <tr>
        <td>
          <input type="submit" id="login" value="Login"/>
          </form>
        </td>
        <td>
          <form action="register" method="GET">
            <input type="submit" id="register" value="Sign Up"/>
          </form>
        </td>
      </tr>
    </table>
  </body> 
</html>